APP_ENV=development
APP_VERSION=0.1.0

SUPABASE_URL=https://hwmrvfoediqhqagjusrv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3bXJ2Zm9lZGlxaHFhZ2p1c3J2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MTM4NDIsImV4cCI6MjEwNDE4OTg0Mn0.mieAshBevQsH3zssziP10jm4hZy09WSaOGZRobwuNBE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3bXJ2Zm9lZGlxaHFhZ2p1c3J2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODYxMzg0MiwiZXhwIjoyMTA0MTg5ODQyfQ.3x-8jl2ZyunfBXclzo2dBm6TjIdJ7ptuEMppTwLm4sI
DATABASE_URL=postgresql://postgres:lanala123***@db.hwmrvfoediqhqagjusrv.supabase.co:5432/postgres

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_MODEL_NAME=lanala-banking-recommender
MODEL_STAGE=Staging