fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
pandas
numpy
scikit-learn
xgboost
optuna
mlflow
dvc
great-expectations
evidently
pytest
pytest-cov
httpx
pyyaml
joblib
supabase
psycopg2-binary