fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
pandas
numpy
scikit-learn
xgboost
optuna
mlflow
dvc
great-expectations==0.18.22
evidently
pytest
pytest-cov
httpx
pyyaml
joblib
supabase
psycopg2-binary
requests>=2.32,<3.0